namespace: Entities

use:
	- Nette
	- ORM

class: 
	name: Article
	extends: Entity
	annotations:
		entity: [table: article]
		repository:
			calss: Repositories\ArticleRepository
			mapper: ORM\Mappers\NetteDatabaseMapper


	properties:
		title:  
			defaultValue: FALSE
			- toto je koment
			var: string
			- dalsi koment
			column: [type: varchar, nullable: false]
			testAnn: [name: Test, value: 34]
		category: 
			manyToOne: [target: Category, mappedBy: articles]
		tags:
			defaultValue: NULL
			manyToMany: [target: Tag, mappedBy: articles]
		published: 
			column: [type: datetime, nullable: true]